#div_footer{
    background-color: #ebe6e6;
    width: 100%;
    height: 70px;
    margin-top: 2%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
}

