
#form {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 35%;
  margin-top: 3%;
}
#btn1{
  margin-top: 2%;
}
#btn2{
  margin-top: 4%;
}
#btn3{
  margin-top: 2%;
  display: flex;
  margin-left: 90%;
}

